.container{
    display:flex;
}
.container div{
    flex:1;
}
h1{
    text-align: center;
}
#banner{ 
    background-image:url(https://www.insightvacations.com/wp-content/uploads/2023/09/Large-Scenic-view-of-landscape-and-mountains-against-skyRing-of-KerryIreland-1298722840.jpg);
}
#navegation_bar{
    background-color: coral;
}
#pic1{
    width:200px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    display:flex;
    background-color: forestgreen;
}
.footer div{
    flex:1;
}
#underline{
     text-decoration: underline;
}
