.container{
    display:flex;
}
.container div{
    flex:1;
}
.container nav{
    flex:1
}
h1{
    text-align: center;
}
#banner{ 
    background-image:url(https://www.insightvacations.com/wp-content/uploads/2023/09/Large-Scenic-view-of-landscape-and-mountains-against-skyRing-of-KerryIreland-1298722840.jpg);
}
#navegation_bar{
    background-color: coral;
    height: 100px;
    align-items: center;
}
#image{
    display: flex;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg);
    background-size:950px;
    width: 50px;
    border: 4px solid black;
}
#pic1{
    width: 50px;
    flex:1;
    border: 4px solid black;
    height:200;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/45/Flag_of_Ireland.svg);
    background-size: cover;
}
#image:hover {
   background-image: url(https://images.ireland.com/media/Images/amazing-landscapes/5079b776bd3645da95169ccd51f4278d.jpg);
   background-size: cover;
   transition: all 0.3s ease-in-out
}
h2{
    font-family: Georgia, serif;
}
.footer{
    display:flex;
    background-color: forestgreen;
    
}
.footer div{
    flex:1;
}
#underline{
     text-decoration: underline;
}
.body{
    height: 700px;
}
a {
  font-size: 35px;
  color:green;
 justify-content: center;
}
a:hover {
  font-size: 40px;
}